<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPersonService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1502/PersonService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPersonService" contract="MyService.IPersonService"
                name="BasicHttpBinding_IPersonService" />
        </client>
    </system.serviceModel>
</configuration>